<%- include('includes/navbar'); -%>
<div class="container">

  <a href="/create_game/" class="btn btn-success mt-3">Create new game</a>
  <hr>
  <h2>Your current projects</h2>
  <%if(games == ""){%>
  <p>Start planning your first game!</p>
  <%}else{%>
  <%games.forEach((game)=>{%>
  <div class="card mt-3 mb-3">
    <h5 class="card-header"><a class="whiteLink" href="/project_details/<%=game.Id_project%>"><%=game.game_title%></a>
    </h5>
    <!--Title-->
    <div class="card-body">

      <p class="card-text"> <%=game.game_description%></p>
      <!--Description-->
      <div class="btn-group">

        <a href="/edit_project/<%=game.Id_project%>" class="btn btn-primary mr-1">Edit</a>

        <form method="POST" action="/delete/<%=game.Id_project%>">
          <input type="hidden" name="Id" value="<%=game.Id_project%>">
          <input type="submit" class="btn btn-danger" onclick="confirmdelete()" value="Delete">
      </div>
      </form>
    </div>
  </div>
  <%})%>
  <%}%>
              <!-- Button trigger modal -->


<!-- Modal -->

        
            </div>
<script>
  function confirmdelete() {
    confirm("Are you sure you want to delete?");
  }
</script>
            <%- include('includes/footer'); -%>